@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


$moderate-violet: hsl(263, 55%, 52%);
$soft-violet: hsl(264, 82%, 70%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%,14%);
$faded-dark-blue: hsla(217, 19%, 35%, 0.50);
$semi-faded-dark-blue:hsla(217, 19%, 35%, 0.70);

$white: hsl(0, 0%, 100%);
$faded-white: hsla(0, 0%, 100%, 0.50);
$semi-faded-white: hsla(0, 0%, 100%, 0.70);


$light-gray: hsl(0, 0%, 81%);
$semi-faded-light-gray: hsla(0, 0%, 81%, 0.70);
$light-grayish-blue: hsl(210, 46%, 95%);
$shadow: hsla(184, 9%, 31%, 0.25);

$primary-font: 'Barlow Semi Condensed, sans-serif';

@mixin border ($color) {
    border: 2px solid $color; 
}

@mixin article-content ($bg-color: red, $border-color: blue, $name-color: blue, $title-color:blue, $header-color: blue, $qoute-color:blue)  {

    background-color: $bg-color;
    
    .user {
        
        .avatar {  
            @include border($border-color);
        }

        .name {  
            color: $name-color;
        }

        .title {
            
            color: $title-color;
        }

        
    }

    .thesis {
        color: $header-color;
        padding-top: 25px;
        font-size: 20px;
        font-weight: 600;
    }

    .testimony {
        padding-top: 25px;
        color: $qoute-color;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1300px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}