@import "reset";
@import "config";

body {
    background-color: $light-grayish-blue;
    padding: 72px 24px;
}

.article-one {
    @include article-content();
}

.article-two {
    @include article-content();
}
.article-three {
    @include article-content();
}
.article-four {
    @include article-content();
}

.article-five {
    @include article-content();
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}