@import "reset";
@import "config";

body {
    background-color: $light-grayish-blue;
    padding: 72px 24px;
}

article {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 13px; 
    background-color: white;
    margin-bottom: 24px;
    border-radius: 8px;
    box-shadow:  4px 6px 5px $shadow;
    padding: 30px;

    .user {
        display: flex;
        align-items: center;
        line-height: 1.2;
    
        .avatar{
            width: 28px;
            border: 2px solid $white;
            border-radius: 50%;
            margin-right: 15px;
    
        }
        .name{
           font-weight: 600; 
    
        }
        .title{
            font-size: 11px;
        }
    
    }

    .thesis {
        padding-top: 25px;
        font-size: 20px;
        font-weight: 600;
    }

    .testimony {
        padding-top: 45px;
    }
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}