@import "reset";
@import "config";

body {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 13px;
    background-color: $light-grayish-blue;
    padding: 72px 24px;
}

article {
    background-color: white;
    margin-bottom: 24px;
    border-radius: 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}